<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    style="
      font-family: sans-serif;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
    "
  >
    <h1>I'm on! 🎉</h1>
    <p style="width: 100%; text-align: center">
      All the data types you see here have been converted to javascript data
      types, to see the actual data types, please checkout the
      <a
        href="https://github.com/NguyenHungViCb/food-ordering-app/tree/main/server/models"
        >source code</a
      >
    </p>
    <p style="width: 100%; text-align: center">
      A route have a
      <img
        style="width: 25px; height: 25px"
        src="https://firebasestorage.googleapis.com/v0/b/images-b3099.appspot.com/o/food-ordering-app%2Flock.svg?alt=media&token=ac265a3b-2249-4b7c-bca3-6757431b7402"
        alt="lock"
      />
      icon mean you need to be authorized to access. Most of the route using
      Bearer token.
    </p>
    <ul
      style="
        list-style: none;
        width: 80%;
        border: 1px solid #495057;
        padding: 0.6rem 1.2rem;
        border-radius: 0.3rem;
        background-color: #e9ecef;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      "
    >
      <% routes.forEach(function(route){ %>
      <li
        style="
          border: 1px solid #495057;
          padding: 0.6rem 1.2rem;
          border-radius: 0.3rem;
          background-color: white;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div>
            <span
              class="<%= route.method %>"
              style="text-transform: uppercase; padding-right: 0.3rem; color: <%= route.method === 'post' ? '#40c057' : route.method === 'get' ? '#7950f2' : route.method === 'put' ? '#fab005' : '#fa5252' %>"
              ><strong><%= route.method %></strong></span
            >
            <span style="font-weight: 500">/api<%= route.path %></span>
            <% if(route.usage){ %>
            <span style="color: rgb(155, 155, 155)">(<%= route.usage %>)</span>
            <% } %>
          </div>
          <% if(route.isAuth){ %>
          <img
            style="width: 25px; height: 25px"
            src="https://firebasestorage.googleapis.com/v0/b/images-b3099.appspot.com/o/food-ordering-app%2Flock.svg?alt=media&token=ac265a3b-2249-4b7c-bca3-6757431b7402"
            alt="lock"
          />
          <% } %>
        </div>
        <% if(route.request_payload){ %>
        <div
          style="
            padding: 0.3rem 0.6rem;
            border: 1px solid #495057;
            border-radius: 0.3rem;
            margin: 0.3rem 0;
          "
        >
          <p style="margin: 0; font-size: 0.875rem; padding-bottom: 0.3rem">
            Request payload
          </p>
          <pre style="margin: 0">
<%= JSON.stringify(route.request_payload, undefined, 2).replaceAll(/"([^"]+)":/g, '$1:') %></pre
          >
        </div>
        <% } %> <% if(route.response_payload){ %>
        <div
          style="
            padding: 0.3rem 0.6rem;
            border: 1px solid #495057;
            border-radius: 0.3rem;
            margin: 0.3rem 0;
          "
        >
          <p style="margin: 0; font-size: 0.875rem; padding-bottom: 0.3rem">
            Response payload
          </p>
          <pre style="margin: 0">
<%= JSON.stringify(route.response_payload, undefined, 2) %></pre
          >
        </div>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
